# Server Configuration
PORT=5000

# MongoDB Database URI (Local or MongoDB Atlas)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.g2rwoi6.mongodb.net/trustlink?retryWrites=true&w=majority

# Nodemailer SMTP Email Credentials (for OTP & Notifications)
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password

# Razorpay Payments API Credentials
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
